img[src*='#left'] {
    float: left;
}
img[src*='#right'] {
    float: right;
}
img[src*='#center'] {
    display: block;
    margin: auto;
}

.md-typeset code,
.md-typeset pre > code  {
  font-size: 15px;
}

code,
kbd {
   font-size: 15px;
}

/* Teste */
.foo {
  background: blue;
}
/**/



/*
https://github.com/squidfunk/mkdocs-material/blob/master/src/assets/stylesheets/main/_colors.scss
*/
[data-md-color-scheme="default"] {



  /*
    Cores do corpo da pagina
    Default color shades
  */
  /*
  --md-default-fg-color:               #EE0F0F;
  --md-default-fg-color--light:        hsla(0, 0%, 0%, 0.54);
  --md-default-fg-color--lighter:      hsla(0, 0%, 0%, 0.32);
  --md-default-fg-color--lightest:     hsla(0, 0%, 0%, 0.07);
  */

  /*
  https://encycolorpedia.pt/fffff0
  https://www.w3schools.com/colors/colors_shades.asp
  https://www.rapidtables.com/convert/color/rgb-to-hsl.html
  --md-default-bg-color:               #fffff0
  */

  /*
  --md-default-bg-color:               hsla(60, 100%, 97.1%, 1);
  --md-default-bg-color--light:        hsla(60, 100%, 97.1%, 0.7);
  --md-default-bg-color--lighter:      hsla(60, 100%, 97.1%, 0.3);
  --md-default-bg-color--lightest:     hsla(60, 100%, 97.1%, 0.12);
  */

  --md-default-bg-color:               hsla(0, 0%, 91.0%, 1);
  --md-default-bg-color--light:        hsla(0, 0%, 91.0%, 0.7);
  --md-default-bg-color--lighter:      hsla(0, 0%, 91.0%, 0.3);
  --md-default-bg-color--lightest:     hsla(0, 0%, 91.0%, 0.12);


  /*
  --md-default-bg-color:               #ebf0f4;
  --md-default-bg-color--light:        hsla(0, 0%, 100%, 0.7);
  --md-default-bg-color--lighter:      hsla(0, 0%, 100%, 0.3);
  --md-default-bg-color--lightest:     hsla(0, 0%, 100%, 0.12);
  */

  /* ==---- MENU ----*/
  /* Cor do Menu */
  /*
  --md-primary-fg-color:        #EE0F0F;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
  */

  /* Cor do texto dos menus */
  /*
  --md-primary-bg-color:              #EE0F0F;
  --md-primary-bg-color--light:       #ECB7B7;
  */





}

[data-md-color-scheme="slate"] {

  /* [0, 360] */
  /*
  --md-hue: 210;
  */

  --md-default-bg-color:               hsla(0, 0%, 56.5%, 1);
  --md-default-bg-color--light:        hsla(0, 0%, 56.5%, 0.7);
  --md-default-bg-color--lighter:      hsla(0, 0%, 56.5%, 0.3);
  --md-default-bg-color--lightest:     hsla(0, 0%, 56.5%, 0.12);

}
